/EmptyPiece.class
/GameState.class
/Pawn.class
/Piece.class
/PromotedPawn.class
/Lance.class
/PromotedLance.class
/PromotablePiece.class
/UnpromotablePiece.class
/SilverGeneral.class
/PromotedSilverGeneral.class
/GoldGeneral.class
/Knight.class
/PromotedKnight.class
/Rook.class
/PromotedRook.class
/Bishop.class
/PromotedBishop.class
/King.class
